<div class="text-center">
  <b>Owner: </b><%= @event.user.name %>
</div>
<div class="row event-info">
  <div class="col-md-4">
    <b>Time: </b><%= @event.start_time %>
  </div>
  <div class="col-md-8">
    <b>Location: </b><%= @event.location %>
  </div>
  <div class="col-md-12">
    <b>Description: </b><%= @event.description %>
  </div>
</div>
