<div class="row" style="padding-top: 10px;" data-id="<%= @dog.id %>">
  <div class="col-xs-4">
    <%= set_image_dog @dog, "30px", "30px" %>
  </div>
  <div class="col-xs-8">
    <%= @dog.name %>
  </div>
</div>
